.wrapper{
    background-color: #405D72;
}
.wrapper,.swiper,.content {
    width: 100%;
    height: 100%;
}
.today{
    display: flex;
    flex-direction: column;
}

.top-half,.bottom-half{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.top-half{
    width: 100%;
    background-color: black;
    color: #F7E7DC;
}
.top-half .title{
    color: #EEEDEB;
}
.bottom-half{
    width: 100%;
    background-color: #151515;
}
.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    text-align: center;
    margin: 4px;
    font-size: 40px;
}
.day{
    font-size: 34px;
}
.bottom-half .title{
    color: #EEEDEB;
}
.events{
    background-color: black;
}